doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= metadata.title

    meta(name='description', content=metadata.description)
    meta(name='author', content=metadata.author)
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  body
    block content
